<!-- 创建采集任务 -->
<!-- js 部分 -->
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function () {
		// 控制web页面显示
		$("#web_radio").click(function () {
			$("#web_div").show();
			$("#db_div").hide();
		});
		
		// 控制db页面显示
		$("#db_radio").click(function () {
			$("#web_div").hide();
			$("#db_div").show();
		});
		
		// 数据库连接
		$("#btn_connection").click(function () {
			// db 采集任务创建
			var db_type = $("#db_type").val();
			var db_id = $("#db_id").val();
			var db_name = $("#db_name").val();
			var db_port = $("#db_port").val();
			var db_user = $("#db_user").val();
			var db_password = $("#db_password").val();
			
			// 开始任务
			$.ajax({
				url : "/task/getTables",
				cache: false,
				async: false,
				type : "POST",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				data: JSON.stringify({ 
					'type': db_type,
					'url': 'jdbc:mysql://'+ db_id + ':' + db_port + '/' + db_name,
					'user': db_user,
					'password': db_password,
					'driver': 'com.mysql.jdbc.Driver'
				}),
				success : function(msg) {
					if (msg != null) {
						for (var i=0;i<msg.length;i++) {
							$("#db_tables").append("<option value='"+msg[i]+"'>"+msg[i]+"</option>");
						}
					}
				},
				error : function(msg) {
					alert('连接失败！');
				}
			}); 
			
		});
		
		// 表选择加载列属性
		$("#db_tables").change(function () {
			// db 采集任务创建
			var db_type = $("#db_type").val();
			var db_id = $("#db_id").val();
			var db_name = $("#db_name").val();
			var db_port = $("#db_port").val();
			var db_user = $("#db_user").val();
			var db_password = $("#db_password").val();
			var db_tables = $("#db_tables").val();
			// 开始任务
			$.ajax({
				url : "/task/getFields",
				cache: false,
				async: false,
				type : "POST",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				data: JSON.stringify({ 
					'type': db_type,
					'url': 'jdbc:mysql://'+ db_id + ':' + db_port + '/' + db_name,
					'user': db_user,
					'password': db_password,
					'driver': 'com.mysql.jdbc.Driver',
					'tables': {
						'name': db_tables
					}
					
				}),
				success : function(msg) {
					if (msg != null) {
						$("input[name='db_checkbox']").attr("checked","true"); 
						for (var i=0;i<msg.length;i++) {
							var tr = "<tr>"
								+"<td><input type='checkbox' name='db_field_name' checked='checked' /></td>"
								+"<td><input type='text' name='db_field_as' class='form-control' value='"+msg[i]+"' /></td>"
								+"<td>"+msg[i]+"</td>"
								+"</tr>"
							$("#db_tbody_add").append(tr);
						}
					}
				},
				error : function(msg) {
					alert('连接失败！');
				}
			}); 
			
		});
		
		// 保存功能
		$("#saveTask").click(function () {
			var groupId = $("#groupId").val();
			var groupName = $("#groupId").find("option:selected").text();
			var taskName = $("#taskName").val();
			// 获得创建任务的类型：1.web；2.db
			var crawlerType = $("input[name=crawlerType]:checked").val();
			if (crawlerType == '1') {
				
				// web 采集任务创建
				var web_url = $("#web_url").val();
				
				// 列表
				var web_list_url = $("#web_list_url").val();
				var web_list_url_type = $("#web_list_url_type").val();
				
				// 详情
				var web_detail_url = $("#web_detail_url").val();
				var web_detail_url_type = $("#web_detail_url_type").val();
				
				// 属性
				var web_field_key = $("#web_field_key").val();
				var web_field_text = $("#web_field_text").val();
				var web_field_type = $("#web_field_type").val();
				
				
				// 开始任务
				$.ajax({
					url : "/task/createWebCrawler",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data: JSON.stringify({ 
						'crawlerName': taskName, 
						'groupId': groupId,
						'groupName': groupName,
						'webRule':{
							'url': web_url,
							'listUrl':web_list_url,
							'listUrlType':web_list_url_type,
							'detailUrl':web_detail_url,
							'detailUrlType':web_detail_url_type,
							'webRuleFields': [
								{
									'fieldKey': web_field_key,
									'fieldType': web_field_type,
									'fieldText': web_field_text
								}
							]
						}
					}),
					success : function(msg) {
					},
					error : function(msg) {
					}
				}); 
				alert('添加成功！');
			}else {
				// db 采集任务创建
				var db_type = $("#db_type").val();
				var db_id = $("#db_id").val();
				var db_name = $("#db_name").val();
				var db_port = $("#db_port").val();
				var db_user = $("#db_user").val();
				var db_password = $("#db_password").val();
				var db_tables = $("#db_tables").val();
				
				
				// 开始任务
				$.ajax({
					url : "/task/createDbCrawler",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data: JSON.stringify({ 
						'crawlerName': taskName, 
						'groupId': groupId,
						'groupName': groupName,
						'dbConnection':{
							'type': db_type,
							'url': 'jdbc:mysql://'+ db_id + ':' + db_port + '/' + db_name,
							'user': db_user,
							'password': db_password,
							'driver': 'com.mysql.jdbc.Driver',
							'tables': {
								'name': db_tables
							}
						}
					}),
					success : function(msg) {
					},
					error : function(msg) {
					}
				}); 
				alert('添加成功！');
			}
			window.location.reload();
		});
		
		// 增加一行
		$("#web_but_add_row").click(function() {
		    var row = 
		    	"<div class='col-sm-2'></div>"
				+"<div class='col-sm-2'>"
				+"<input type='text' name='web_field_key' class='form-control' />"
				+"</div>"
				+"<div class='col-sm-4' style='padding-left: 0;'>"
				+"<input type='text' name='web_field_text' style='width: 210px;' class='form-control' placeholder='请输规则内容' />"
				+"</div>"
				+"<div class='col-sm-2'>"
				+"<select class='form-control' style='width: 100px; padding-left: 0;'>"
				+"<option value='xpath'>XPATH</option>"
				+"<option value='regex'>正则表达式</option>"
				+"<option value='css'>CSS</option>"
				+"</select>"
				+"</div>"
				+"<div class='col-sm-2' style='padding-left: 20px;'>"
				+"<button type='button' name='web_but_del_row' class='btn btn-default'>删除</button>"
				+"</div>";
			$("#web_div_add").append(row);
		});
		
	});
	/*]]>*/
</script>
<!-- js 部分 -->

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">新建采集任务</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		
		<!-- 任务名称 -->
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">任务名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="taskName" name="taskName" placeholder="请输入任务名称" />
			</div>
		</div>
		<!-- 任务名称 -->
		
		<!-- 任务分组 -->
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">任务分组</label>
			<div class="col-sm-10">
				<select id="groupId" name="groupId" class="form-control">
					<option th:each="taskGroup : ${groups}"
                        th:value="${taskGroup.groupId}" th:text="${taskGroup.groupName}">Credit card</option>
				</select>
			</div>
		</div>
		<!-- 任务分组 -->
		
		<!-- 采集类型 -->
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">采集类型</label>
			<div class="col-sm-10">
				<label class="checkbox-inline"> 
					<input type="radio" id="web_radio" name="crawlerType" value="1" checked="checked" /> WEB采集
				</label> 
				<label class="checkbox-inline"> 
					<input type="radio"  id="db_radio" name="crawlerType" value="2" /> 数据库采集
				</label>
			</div>
		</div>
		<!-- 采集类型 -->
		
		<div>
			<hr />
		</div>
		
		
		<!-- web 采集部分 -->
		<div id="web_div">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#webRule" data-toggle="tab">采集任务规则</a></li>
				<li><a href="#safety" data-toggle="tab">安全验证</a></li>
				<li><a href="#taskTiming" data-toggle="tab">任务定时</a></li>
			</ul>
			
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="webRule">
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">网址规则</label>
						<div class="col-sm-10"></div>
					</div>
					
					<!-- 起始网址-->
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080">起始网址：</label>
						<div class="col-sm-10">
							<input type="text" id="web_url" name="web_url" class="form-control" placeholder="请输入网址规则" style="width: 340px;" />
						</div>
					</div>
					<!-- 起始网址 -->
					
					<!-- 列表规则 -->
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">列表网址规则：</label>
						<div class="col-sm-7">
							<div class="col-sm-7" style="padding-left: 0;">
								<input type="text" id="web_list_url" name="web_list_url" class="form-control" placeholder="请输入网址规则" style="width: 340px;" />
							</div>
						</div>
						<div class="col-sm-3">
							<select id="web_list_url_type" name="web_list_url_type" class="form-control" style="width: 110px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">详情网址规则：</label>
						<div class="col-sm-7">
							<div class="col-sm-7" style="padding-left: 0;">
								<input type="text" id="web_detail_url" name="web_detail_url" class="form-control" placeholder="请输入详情网址规则" style="width: 340px;"/>
							</div>
						</div>
						<div class="col-sm-3">
							<select id="web_detail_url_type" name="web_detail_url_type" class="form-control" style="width: 110px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
					</div>
					<!-- 列表规则 -->
					
					<div><hr /></div>
					
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">内容规则</label>
						<div class="col-sm-2">
							<button type="button" id="web_but_add_row" class="btn btn-default">增加一行</button>
						</div>
						<div class="col-sm-8"></div>
					</div>
					<!-- 内容规则 -->
					<div class="form-group" id="web_div_add">
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<input type="text" id="web_field_key" name="web_field_key" class="form-control" placeholder="请输规则内容" />
						</div>
						<div class="col-sm-4" style="padding-left: 0;">
							<input type="text" id="web_field_text" name="web_field_text" style="width: 210px;" class="form-control" placeholder="请输规则内容" />
						</div>
						<div class="col-sm-2">
							<select id="web_field_type" name="web_field_type" class="form-control" style="width: 100px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
						<div class="col-sm-2" style="padding-left: 20px;">
							<button type="button" name="web_but_del_row" class="btn btn-default">删除</button>
						</div>
					</div>
					<!-- 内容规则 -->
					
					<!-- 附件下载，后续完善 -->
					
				</div>
				
				<!-- 安全验证 -->
				<div class="tab-pane fade" id="safety">

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">登录请求：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" />
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">用户名：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单项名称" />
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单值" />
						</div>
						<div class="col-sm-2"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">密码：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单项名称" />
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单值" />
						</div>
						<div class="col-sm-2"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">登录提交：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" />
						</div>
					</div>
				</div>
				<!-- 安全验证 -->
				
				<!-- 定时任务 -->
				<div class="tab-pane fade" id="taskTiming">
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label" style="font-size: 12px;"> 
							<input type="checkbox" />启用任务定时
						</label>
						<div class="col-sm-9"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios1" value="1" />每天
							</label> 
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios2" value="2" /> 每周
							</label> 
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios3" value="3" /> 每月
							</label> 
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios4" value="4" /> 一次
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;">开始时间：</label>
						<div class="col-sm-4">
							<div class="control-group">
								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" value="" /> 
									<span class="form-contro add-on"> 
										<i class="icon-remove"></i>
									</span>
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>
						</div>
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;">结束时间：</label>
						<div class="col-sm-4">
							<div class="control-group">
								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" value="" /> 
									<span class="form-contro add-on"> 
										<i class="icon-remove"></i>
									</span> 
									<span class="add-on"> 
										<i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>
						</div>
					</div>
				</div>
				<!-- 定时任务 -->
			</div>
		</div>
		<!-- web 采集部分 -->
		
		
		<!-- DB 采集部分 -->
		<div id="db_div" style="display: none;">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#DBRule" data-toggle="tab">采集任务规则</a></li>
				<li><a href="#taskTiming2" data-toggle="tab">任务定时</a></li>
			</ul>
			<div id="myTabContent2" class="tab-content">

				<div class="tab-pane fade in active" id="DBRule">
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label" style="font-size: 12px; color: #808080; padding-left: 0;">数据库类型：</label>
						<div class="col-sm-10">
							<select id="db_type" name="db_type" class="form-control" style="width: 200px;">
								<option value="mysql">Mysql</option>
								<option value="oracle">Oracle</option>
								<option value="sqlserver">SQL Server</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">服务器地址：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="db_id" name="db_id" class="form-control" placeholder="请输入数据库链接" 
									value="127.0.0.1" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">数据库名称：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="db_name" name="db_name" class="form-control" placeholder="请输入数据库链接" 
									value="test" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">端口号：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="db_port" name="db_port" class="form-control" placeholder="请输入数据库链接" 
									value="3306" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">用户名：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="db_user" name="db_user" class="form-control" placeholder="请输入用户名" 
									value="root" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">密码：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="db_password" name="db_password" class="form-control" placeholder="请输入密码"
									value="root" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;"></label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<button type="button" id="btn_connection" name="btn_connection" class="btn btn-default">连接</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">选择表/视图：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<select id="db_tables" name="db_tables" class="form-control" style="width: 200px;">
									<option value="">请选择</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">字段规则：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="db_checkbox" /></th>
											<th>别名</th>
											<th>列表名</th>
										</tr>
									</thead>
									<tbody id="db_tbody_add">
									
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 附件下载，后续完善 -->
					
				</div>
				
				<!-- 任务定时 -->
				<div class="tab-pane fade" id="taskTiming2">
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label" style="font-size: 12px;"> 
							<input type="checkbox" />启用任务定时
						</label>
						<div class="col-sm-9"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios1" value="1" /> 每天
							</label> <label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios2" value="2" /> 每周
							</label> 
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios3" value="3" /> 每月
							</label> 
							<label class="checkbox-inline"> 
								<input type="radio" name="timeradio" id="optionsRadios4" value="4" /> 一次
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;">开始时间：</label>
						<div class="col-sm-4">
							<div class="control-group">

								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" /> 
									<span class="form-contro add-on">
										<i class="icon-remove"></i>
									</span> 
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>

						</div>
						<label for="firstname" class="col-sm-2 control-label" style="font-size: 12px;">结束时间：</label>
						<div class="col-sm-4">
							<div class="control-group">

								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" /> 
									<span class="form-contro add-on">
										<i class="icon-remove"></i>
									</span> 
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>

						</div>
					</div>
				</div>
				<!-- 任务定时 -->
			</div>
		</div>
		<!-- DB 采集部分 -->
	
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary" id="saveTask" name="saveTask">保存</button>
		</div>

	</form>
</div>
