<!-- 创建采集任务 -->
<!-- js 部分 -->
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function () {
		// 控制web页面显示
		$("#web_radio").click(function () {
			$("#web_div").show();
			$("#db_div").hide();
		});
		
		// 控制db页面显示
		$("#db_radio").click(function () {
			$("#web_div").hide();
			$("#db_div").show();
		});
		
		// 增加一行
		$("#web_but_add_row").click(function() {
		    var row = 
		    	"<div class='col-sm-2'></div>"
				+"<div class='col-sm-2'>"
				+"<input type='text' name='webFieldKey' class='form-control' />"
				+"</div>"
				+"<div class='col-sm-4' style='padding-left: 0;'>"
				+"<input type='text' name='webFieldText' style='width: 210px;' class='form-control' placeholder='请输规则内容' />"
				+"</div>"
				+"<div class='col-sm-2'>"
				+"<select class='form-control' style='width: 100px; padding-left: 0;'>"
				+"<option value='xpath'>XPATH</option>"
				+"<option value='regex'>正则表达式</option>"
				+"<option value='css'>CSS</option>"
				+"</select>"
				+"</div>"
				+"<div class='col-sm-2' style='padding-left: 20px;'>"
				+"<button type='button' name='web_but_del_row' class='btn btn-default'>删除</button>"
				+"</div>";
			$("#web_div_add").append(row);
		});
		
		// 获得DB规则Json串
		function getConnection() {
			var buffer = "{\"type\":\"" + $("#dbType").val() + "\",";
			buffer += "\"url\":\"jdbc:mysql://" + $("#dbIp").val() + ":" + $("#dbPort").val() + "/" + $("#dbName").val() + "\",";
			buffer += "\"user\":\"" + $("#dbUser").val() + "\",";
			buffer += "\"password\":\"" + $("#dbPassword").val() + "\",";
			buffer += "\"driver\":\"com.mysql.jdbc.Driver\",";
			buffer += "\"tables\":{\"name\":\"" + $("#db_tables").val() + "\"}";
			buffer += "}";
			return buffer;
		}
		
		// 数据库连接
		$("#btn_connection").click(function () {
			var buffer = getConnection();
			// 开始任务
			$.ajax({
				url : "/task/getTables",
				cache: false,
				async: false,
				type : "POST",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				data: buffer,
				success : function(data) {
					if (data != null) {
						for (var i=0;i<data.length;i++) {
							$("#db_tables").append("<option value='"+data[i]+"'>"+data[i]+"</option>");
						}
					}
				},
				error : function(data) {
					alert('网络通讯异常！');
				}
			}); 
		});
		
		// 表选择加载列属性
		$("#db_tables").change(function () {
			var buffer = getConnection();
			// 开始任务
			$.ajax({
				url : "/task/getFields",
				cache: false,
				async: false,
				type : "POST",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				data: buffer,
				success : function(data) {
					if (data != null) {
						$("input[name='db_checkbox']").attr("checked","true"); 
						for (var i=0;i<data.length;i++) {
							var tr = "<tr>"
								+"<td><input type='checkbox' name='dbFieldName' checked='checked' /></td>"
								+"<td><input type='text' name='dbFieldAs' class='form-control' value='"+data[i]+"' /></td>"
								+"<td>"+data[i]+"</td>"
								+"</tr>"
							$("#db_tbody_add").append(tr);
						}
					}
				},
				error : function(data) {
					alert('网络通讯异常！');
				}
			}); 
		});
		
		// 保存功能
		$("#saveTask").click(function () {
			var groupId = $("#groupId").val();
			var groupName = $("#groupId").find("option:selected").text();
			var taskName = $("#taskName").val();
			// 验证任务名称
			if (taskName == '') {
				alert('请输入任务名称！');
				return;
			}
			// 获得创建任务的类型：1.web；2.db
			var crawlerType = $("input[name=crawlerType]:checked").val();
			if (crawlerType == '1') {
				// 拼写json字符串
				var buffer = "{";
				buffer += "\"groupId\":\"" + groupId + "\",";
				buffer += "\"groupName\":\"" + groupName + "\",";
				buffer += "\"crawlerName\":\"" + taskName + "\",";
				// 添加web规则
				buffer += "\"webRule\":{";
				buffer += "\"url\":\"" + $("#webUrl").val() + "\",";
				// 列表
				buffer += "\"listUrl\":\"" + $("#webListUrl").val() + "\",";
				buffer += "\"listUrlType\":\"" + $("#webListUrlType").val() + "\",";
				// 详情
				buffer += "\"detailUrl\":\"" + $("#webDetailUrl").val() + "\",";
				buffer += "\"detailUrlType\":\"" + $("#webDetailUrlType").val() + "\",";
				buffer += "\"webRuleFields\":[";
				
				// 页面元素规则
				var leng = $("input[name='webFieldKey']").length;
				for (var i = 0; i < leng; i ++) {
					if (i == 0) {
						buffer += "{";
					} else {
						buffer += ",{";
					}
					
					// 添加属性规则
					buffer += "\"fieldKey\":\"" + $("input[name='webFieldKey']")[i].value + "\",";
					buffer += "\"fieldText\":\"" + $("input[name='webFieldText']")[i].value + "\",";
					buffer += "\"fieldType\":\"" + $("select[name='webFieldType']")[i].value + "\"";
					buffer += "}";
				}
				
				buffer += "]";
				
				// 拼写附件
				var web_attachment = $('input:radio[name="web_attachment"]:checked').val();
				if(web_attachment) {
					var attachment = $("#attachment").val();
					var attachmentType = $("select[name='attachmentType']").val();
					buffer += ",\"attachmentRule\":{";
					buffer += "\"attachmentKey\":\"" + attachment + "\",";
					buffer += "\"attachmentType\":\"" + attachmentType + "\"";
					buffer += "}";
				}
				
				buffer += "}";
				
				// 拼写代理
				var hostName = $("#hostName").val(); // 代理服务器地址
				var port = $("#port").val(); // 代理服务器端口
				if(hostName != "") {
					buffer += ",\"proxy\":{";
					buffer += "\"hostName\":\"" + hostName + "\",";
					buffer += "\"port\":\"" + port + "\"";
					buffer += "}";
				}
				
				buffer += "}";
				// 开始任务
				$.ajax({
					url : "/task/createWebCrawler",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data: buffer,
					success : function(data) {
						if (data['success'] == 'true') {
							alert('创建成功！');
							window.location.reload();
						} else {
							alert('创建失败！');
						}
					},
					error : function(data) {
						alert('网络通讯异常！');
					}
				});
			}else {
				// db 采集任务创建
				var dbType = $("#dbType").val();
				var dbId = $("#dbId").val();
				var dbName = $("#dbName").val();
				var dbPort = $("#dbPort").val();
				var dbUser = $("#dbUser").val();
				var dbPassword = $("#dbPassword").val();
				var dbTables = $("#dbTables").val();
				// 开始任务
				$.ajax({
					url : "/task/createDbCrawler",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data: JSON.stringify({ 
						'crawlerName': taskName, 
						'groupId': groupId,
						'groupName': groupName,
						'dbConnection':{
							'type': dbType,
							'url': 'jdbc:mysql://'+ dbId + ':' + dbPort + '/' + dbName,
							'user': dbUser,
							'password': dbPassword,
							'driver': 'com.mysql.jdbc.Driver',
							'tables': {
								'name': dbTables
							}
						}
					}),
					success : function(data) {
						if (data['success'] == 'true') {
							alert('创建成功！');
							window.location.reload();
						} else {
							alert('创建失败！');
						}
					},
					error : function(data) {
						alert('网络通讯异常！');
					}
				}); 
			}
		});
	});
	/*]]>*/
</script>
<!-- js 部分 -->

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">新建采集任务</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">

		<!-- 任务名称 -->
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">任务名称</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="taskName"
					name="taskName" placeholder="请输入任务名称" />
			</div>
		</div>
		<!-- 任务名称 -->

		<!-- 任务分组 -->
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">任务分组</label>
			<div class="col-sm-10">
				<select id="groupId" name="groupId" class="form-control">
					<option th:each="taskGroup : ${groups}"
						th:value="${taskGroup.groupId}" th:text="${taskGroup.groupName}">Credit
						card</option>
				</select>
			</div>
		</div>
		<!-- 任务分组 -->

		<!-- 采集类型 -->
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">采集类型</label>
			<div class="col-sm-10">
				<label class="checkbox-inline"> <input type="radio"
					id="web_radio" name="crawlerType" value="1" checked="checked" />
					WEB采集
				</label> <label class="checkbox-inline"> <input type="radio"
					id="db_radio" name="crawlerType" value="2" /> 数据库采集
				</label>
			</div>
		</div>
		<!-- 采集类型 -->

		<div>
			<hr />
		</div>


		<!-- web 采集部分 -->
		<div id="web_div">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#webRule" data-toggle="tab">采集任务规则</a></li>
				<li><a href="#safety" data-toggle="tab">安全验证</a></li>
				<li><a href="#taskTiming" data-toggle="tab">任务定时</a></li>
				<li><a href="#proxy" data-toggle="tab">代理服务器</a></li>
			</ul>

			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="webRule">
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">网址规则</label>
						<div class="col-sm-10"></div>
					</div>

					<!-- 起始网址-->
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080">起始网址：</label>
						<div class="col-sm-10">
							<input type="text" id="webUrl" name="webUrl"
								class="form-control" placeholder="请输入网址规则" style="width: 340px;" />
						</div>
					</div>
					<!-- 起始网址 -->

					<!-- 列表规则 -->
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">列表网址规则：</label>
						<div class="col-sm-7">
							<div class="col-sm-7" style="padding-left: 0;">
								<input type="text" id="webListUrl" name="webListUrl"
									class="form-control" placeholder="请输入网址规则"
									style="width: 340px;" />
							</div>
						</div>
						<div class="col-sm-3">
							<select id="webListUrlType" name="webListUrlType"
								class="form-control" style="width: 110px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">详情网址规则：</label>
						<div class="col-sm-7">
							<div class="col-sm-7" style="padding-left: 0;">
								<input type="text" id="webDetailUrl" name="webDetailUrl"
									class="form-control" placeholder="请输入详情网址规则"
									style="width: 340px;" />
							</div>
						</div>
						<div class="col-sm-3">
							<select id="webDetailUrlType" name="webDetailUrlType"
								class="form-control" style="width: 110px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
					</div>
					<!-- 列表规则 -->

					<div>
						<hr />
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">内容规则</label>
						<div class="col-sm-2">
							<button type="button" id="web_but_add_row"
								class="btn btn-default">增加一行</button>
						</div>
						<div class="col-sm-8"></div>
					</div>
					<!-- 内容规则 -->
					<div class="form-group" id="web_div_add">
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<input type="text" id="webFieldKey" name="webFieldKey"
								class="form-control" placeholder="请输规则内容" />
						</div>
						<div class="col-sm-4" style="padding-left: 0;">
							<input type="text" id="webFieldText" name="webFieldText"
								style="width: 210px;" class="form-control" placeholder="请输规则内容" />
						</div>
						<div class="col-sm-2">
							<select id="webFieldType" name="webFieldType"
								class="form-control" style="width: 100px; padding-left: 0;">
								<option value="xpath">XPATH</option>
								<option value="regex">正则表达式</option>
								<option value="css">CSS</option>
							</select>
						</div>
						<div class="col-sm-2" style="padding-left: 20px;">
							<button type="button" name="web_but_del_row"
								class="btn btn-default">删除</button>
						</div>
					</div>
				</div>	
				<!-- 内容规则 -->

				<!-- 附件下载规则 -->
				<div class="form-group">
					<label for="lastname" class="col-sm-2 control-label"
						style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">
						<input type="checkbox" id="web_attachment" name="web_attachment"/> 附件下载：
					</label>
					<div class="col-sm-10"></div>
				</div>

				<div class="form-group">
					<label for="lastname" class="col-sm-2 control-label"
						style="font-size: 12px; color: #808080; padding-left: 0; padding-right: 0;">
						附件地址区域： </label>
					<div class="col-sm-7">
						<div class="col-sm-7" style="padding-left: 0;">
							<input type="text" class="form-control" id="attachment" name="attachment"
								placeholder="请输入附件网址规则" style="width: 340px;"
								value=""/>
						</div>
					</div>
					<div class="col-sm-3">
						<select id="attachmentType" name="attachmentType"
							class="form-control" style="width: 100px; padding-left: 0;">
							<option value="xpath">XPATH</option>
							<option value="regex">正则表达式</option>
							<option value="css">CSS</option>
						</select>
					</div>
				</div>
				<!-- 附件下载规则 -->
					
				<!-- 安全验证 -->
				<div class="tab-pane fade" id="safety">

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">登录请求：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" />
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">用户名：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单项名称" />
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单值" />
						</div>
						<div class="col-sm-2"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">密码：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单项名称" />
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="firstname"
								placeholder="表单值" />
						</div>
						<div class="col-sm-2"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">登录提交：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="firstname" />
						</div>
					</div>
				</div>
				<!-- 安全验证 -->

				<!-- 定时任务 -->
				<div class="tab-pane fade" id="taskTiming">
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label"
							style="font-size: 12px;"> <input type="checkbox" />启用任务定时
						</label>
						<div class="col-sm-9"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios1" value="1" />每天
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios2" value="2" /> 每周
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios3" value="3" /> 每月
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios4" value="4" /> 一次
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">开始时间：</label>
						<div class="col-sm-4">
							<div class="control-group">
								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" value="" />
									<span class="form-contro add-on"> <i
										class="icon-remove"></i>
									</span> <span class="add-on"> <i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>
						</div>
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">结束时间：</label>
						<div class="col-sm-4">
							<div class="control-group">
								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" value="" />
									<span class="form-contro add-on"> <i
										class="icon-remove"></i>
									</span> <span class="add-on"> <i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>
						</div>
					</div>
				</div>
				<!-- 定时任务 -->

				<!-- 代理功能 -->
				<div class="tab-pane fade" id="proxy">

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label"
							style="font-size: 12px;">服务器地址：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="hostName"
								name="hostName" placeholder="服务器地址" />
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label"
							style="font-size: 12px;">服务器端口：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="port" name="port"
								placeholder="服务器端口" />
						</div>
					</div>
				</div>
				<!-- 代理功能 -->

			</div>
		</div>
		<!-- web 采集部分 -->


		<!-- DB 采集部分 -->
		<div id="db_div" style="display: none;">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#DBRule" data-toggle="tab">采集任务规则</a></li>
				<li><a href="#taskTiming2" data-toggle="tab">任务定时</a></li>
			</ul>
			<div id="myTabContent2" class="tab-content">

				<div class="tab-pane fade in active" id="DBRule">
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">数据库类型：</label>
						<div class="col-sm-10">
							<select id="dbType" name="dbType" class="form-control"
								style="width: 200px;">
								<option value="mysql">Mysql</option>
								<option value="oracle">Oracle</option>
								<option value="sqlserver">SQL Server</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">服务器地址：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="dbIp" name="dbIp" class="form-control"
									value="127.0.0.1" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">数据库名称：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="dbName" name="dbName"
									class="form-control" value="test" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">端口号：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="dbPort" name="dbPort"
									class="form-control" value="3306" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">用户名：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="dbUser" name="dbUser"
									class="form-control" value="root" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">密码：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<input type="text" id="dbPassword" name="dbPassword"
									class="form-control" value="root" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;"></label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<button type="button" id="btn_connection" name="btn_connection"
									class="btn btn-default">连接</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">选择表/视图：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<select id="db_tables" name="db_tables" class="form-control"
									style="width: 200px;">
									<option value="">请选择</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label"
							style="font-size: 12px; color: #808080; padding-left: 0;">字段规则：</label>
						<div class="col-sm-10">
							<div class="col-sm-10" style="padding-left: 0;">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th><input type="checkbox" name="db_checkbox" /></th>
											<th>别名</th>
											<th>列表名</th>
										</tr>
									</thead>
									<tbody id="db_tbody_add">

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- 附件下载，后续完善 -->

				</div>

				<!-- 任务定时 -->
				<div class="tab-pane fade" id="taskTiming2">
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;"></label>
						<div class="col-sm-10"></div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-3 control-label"
							style="font-size: 12px;"> <input type="checkbox" />启用任务定时
						</label>
						<div class="col-sm-9"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios1" value="1" /> 每天
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios2" value="2" /> 每周
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios3" value="3" /> 每月
							</label> <label class="checkbox-inline"> <input type="radio"
								name="timeradio" id="optionsRadios4" value="4" /> 一次
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">开始时间：</label>
						<div class="col-sm-4">
							<div class="control-group">

								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" /> <span
										class="form-contro add-on"> <i class="icon-remove"></i>
									</span> <span class="add-on"> <i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>

						</div>
						<label for="firstname" class="col-sm-2 control-label"
							style="font-size: 12px;">结束时间：</label>
						<div class="col-sm-4">
							<div class="control-group">

								<div class="controls input-append date form_datetime">
									<input size="16" class="form-control" type="text" /> <span
										class="form-contro add-on"> <i class="icon-remove"></i>
									</span> <span class="add-on"> <i class="icon-th"></i>
									</span>
								</div>
								<br />
							</div>

						</div>
					</div>
				</div>
				<!-- 任务定时 -->
			</div>
		</div>
		<!-- DB 采集部分 -->

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary" id="saveTask"
				name="saveTask">保存</button>
		</div>

	</form>
</div>
