<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<!-- 头部导航 -->
	<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0; height: 60px" id="header">
		<div class="navbar-header" style="width: 220px;">
			<h3 class="navbar-text">
				SKM<small style="font-size: 12px;">知识工程2.0采集系统</small>
			</h3>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-left">
				<li><a th:href="@{/}">采集</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-avatar pull-right">
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<img class="img-circle" alt="Admin" src="../image/admin.png" style="width: 30px; height: 30px"/> 
						<span class="thumb-small avatar inline"></span> 
						<span class="hidden-sm-only">Admin</span>
					 	<b class="caret hidden-sm-only"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="docs.html">Help</a></li>
						<li><a href="signin.html">Logout</a></li>
					</ul></li>
			</ul>
			<!--导航栏向右对齐-->
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <span class="glyphicon glyphicon-plus"></span>
						新建<b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#myModal">新建采集</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal3">新建转换</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal4">新建传输</a></li>
						<li><a href="/createGroup" data-toggle="modal" data-target="#theModal">新建分组</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <span
						class="glyphicon glyphicon-asterisk"></span> 设置<b class="caret"></b>
				</a></li>
			</ul>
			<p class="navbar-text navbar-right"></p>
		</div>
	</nav>
</body>
</html>