<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
<head>
	<title>任务分组</title>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function () {
		
		// 删除任务分组
		$("#deleteGroup").click(function () {
			var groupIds = '';
			$("input[name='checkbox']:checkbox:checked").each(function() {
				groupIds += $(this).val() + ',';
			});
			if (groupIds == '') {
				alert("Error:no one selected.");
			} else {
				// 开始任务
				$.ajax({
					url : "/taskgroup/removeTaskGroup",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data : groupIds,
					success : function(msg) {
					},
					error : function(msg) {
						//200的响应也有可能被认定为error，responseText中没有Message部分
					}
				});
				alert('删除成功！');
				window.location.reload();
			}
		});
		
		// 开始功能
		$("#btn_strat").click(function() {
			var taskIds = '';
			$("input[name='checkbox']:checkbox:checked").each(function() {
				taskIds += $(this).val() + ',';
			});
			if (taskIds == '') {
				alert("Error:no one selected.");
			} else {
				// 开始任务
				$.ajax({
					url : "/task/startTask",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data : taskIds,
					success : function(data) {
					},
					error : function(data) {
					}
				});
				alert('开始成功!');
				window.location.reload();
			}
		});

		// 停止功能
		$("#btn_stop").click(function() {
			var taskIds = '';
			$("input[name='checkbox']:checkbox:checked").each(function() {
				taskIds += $(this).val() + ',';
			});
			if (taskIds == '') {
				alert("Error:no one selected.");
			} else {
				// 停止任务
				$.ajax({
					url : "/task/stopTask",
					cache: false,
					async: false,
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data : taskIds,
					success : function(data) {
					},
					error : function(data) {
					}
				});
				alert('停止成功!');
				window.location.reload();
			}
		});

		// 删除任务功能
		$("#btn_delete").click(function() {
			
			var taskIds = '';
			$("input[name='checkbox']:checkbox:checked").each(function() {
				taskIds += $(this).val() + ',';
			});
			if (taskIds == '') {
				alert("Error:no one selected.");
			} else {
				$.ajax({
					url : "/task/removeTask",
					type : "POST",
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					data : taskIds,
					success : function(data) {
						alert(data);
					},
					error : function(data) {
					}
				});
				alert('删除成功！');
				window.location.reload();
			}
		});

	});
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="righttopfirstmenu">
		<!-- 右侧头部导航1 -->
		<nav class="navbar navbar-default" role="navigation">
			<div>
				<p class="navbar-text" style="color: black;"><span th:text="${group.groupName}"></span></p>
				<form class="navbar-form navbar-right" role="search" style="margin-right: 0;">
					<span class="navbar-text"><span th:text="${groupNum}"></span>个文件夹，
					<span><span th:text="${taskNum}"></span></span>个任务</span>
				</form>
			</div>
		</nav>
	</div>
	<div layout:fragment="righttopsecondmenu">
		<!-- 任务组操作 -->
		<nav class="navbar navbar-default" role="navigation">
			<div>
				<form id="groupForm" class="navbar-form navbar-left" role="search" th:action="@{/taskgroup/taskgroups(groupId=${groupId})}">
					<input type="hidden" name="groupId" th:value="${groupId}"/>
					<button type="button" id="deleteGroup" class="btn btn-default btn-sm">删除</button>
					<a th:href="@{/taskgroup/renameGroupPage/(groupId=${groupId})}" class="btn btn-default btn-sm" data-toggle="modal"
						data-target="#theModal" style="width: 120px;">重命名</a>
					
				</form>
				&nbsp;
				<form class="navbar-form navbar-right" method="get" style="margin-top: -12px; margin-right: 0px; padding-left: 700px;" role="search">
					<a th:href="@{/taskgroup/createTaskGroupPage(groupId=${groupId})}" class="btn btn-primary" data-toggle="modal"
						data-target="#theModal" style="width: 120px;">新建分组</a>
				</form>
			</div>
		</nav>
		<!-- 任务组操作 -->
	</div>
	<div layout:fragment="content">
		<!-- 任务组列表 -->
		<div class="row" style="margin:0;padding:0; height: 200px;">
			<div class="col-md-12" style="padding-left: 40px;">
				<table class="table">
					<tbody>
						<tr th:unless="${#lists.isEmpty(taskGroups)}">
							<td th:each=" taskGroup : ${taskGroups}" width="200">
								<input name="checkbox" type="checkbox" th:value="${taskGroup.groupId}"/>
								 &nbsp;
								<span th:class="${taskGroup.ifLeaf == '1'}?'glyphicon glyphicon-folder-close':'glyphicon glyphicon-folder-open'"></span>
								<a th:href="@{/taskgroup/taskgroups(groupId=${taskGroup.groupId})}">
									<span th:text="${taskGroup.groupName}"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 任务组列表 -->
		
		<!-- 右侧头部导航2 -->
		<nav class="navbar navbar-default" role="navigation"
			style="margin-bottom: 0; height: 50px;">
			<div>
				<!--向左对齐-->
				<form class="navbar-form navbar-left" role="search">
					<button type="button" id="btn_strat" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-play"></span> 开始
					</button>
				
					<button type="button" id="btn_stop" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-stop"></span> 停止
					</button>
					
					<button type="button" id="btn_delete" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> 删除
					</button>
				</form>
				<!--向右对齐-->
				<form class="navbar-form navbar-right" role="search" style="margin-right:0;">
					&nbsp;
					<a th:href="@{/task/createTaskPage(groupId=${groupId})}" class="btn btn-success" 
						data-toggle="modal" data-target="#theModal" style="width: 120px;">新建采集</a>
				</form>
			</div>
		</nav>
		<!-- 右侧表单  -->
		<table class="table table-hover">
			<tbody>
				<tr th:each="task : ${tasks}">
					<td width="35">
						<input name="checkbox" type="checkbox" th:value="${task.taskId}"/>
					</td>
					<td>
						<p th:text="${task.taskName}"></p>
						<span style="font-size: 12px; color: #808080">所属分组:</span>
						<span style="font-size: 12px;" th:text="${task.groupName}"></span>
					</td>
					<td>
						<span style="font-size: 12px; color: #808080">任务状态:</span>
						<span style="font-size: 12px;" th:text="${task.taskState}"></span>
					</td>
					<td>
						<span style="font-size: 12px; color: #808080">创建时间:</span>
						<span style="font-size: 12px;" th:text="${#calendars.format(task.createTime,'yyyy-MM-dd hh:MM:ss')}"></span>
					</td>
					<td>
						<span style="font-size: 12px; color: #808080">修改时间:</span>
						<span style="font-size: 12px;" th:text="${#calendars.format(task.updateTime,'yyyy-MM-dd hh:MM:ss')}"></span>
					</td>
					
					<td>
						<a th:href="@{/task/history(taskId=${task.taskId})}" class="dropdown-toggle">
							<p>版本记录</p>
						</a>
						<a th:href="@{/task/metadata(taskId=${task.taskId})}" class="dropdown-toggle">
							<p>数据列表</p>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="height: 50px; margin-top: -20px;">

			<ul class="pagination" style="padding-left: 30%">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
</body>
</html>